body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  position:absolute;
  left:50px;
  top:82px;
  width:1490px;
  height:925px;
  opacity:0.7;
}
#u3691 {
  position:absolute;
  left:2px;
  top:454px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3692 {
  position:absolute;
  left:50px;
  top:50px;
  width:1490px;
  height:35px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:10px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3694 {
  position:absolute;
  left:1508px;
  top:60px;
  width:15px;
  height:15px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3696 {
  position:absolute;
  left:60px;
  top:60px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3697 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u3698 {
  position:absolute;
  left:60px;
  top:170px;
  width:127px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u3699 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3701 {
  position:absolute;
  left:77px;
  top:227px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3702 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u3701_ann {
  position:absolute;
  left:101px;
  top:223px;
  width:1px;
  height:1px;
}
#u3703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3703 {
  position:absolute;
  left:60px;
  top:230px;
  width:15px;
  height:15px;
}
#u3704 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3705 {
  position:absolute;
  left:1762px;
  top:333px;
  width:5px;
  height:16px;
}
#u3706 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u3708 {
  position:absolute;
  left:136px;
  top:135px;
  width:318px;
  height:1px;
}
#u3709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u3711 {
  position:absolute;
  left:136px;
  top:135px;
  width:300px;
  height:1px;
}
#u3712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3713 {
  position:absolute;
  left:159px;
  top:112px;
  width:277px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3714 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3715 {
  position:absolute;
  left:60px;
  top:114px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3716 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u3718 {
  position:absolute;
  left:576px;
  top:351px;
  width:51px;
  height:15px;
}
#u3719 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:132px;
}
#u3720 {
  position:absolute;
  left:60px;
  top:313px;
  width:1226px;
  height:132px;
}
#u3721 {
  position:absolute;
  left:2px;
  top:58px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:133px;
}
#u3722 {
  position:absolute;
  left:1282px;
  top:312px;
  width:106px;
  height:133px;
}
#u3723 {
  position:absolute;
  left:2px;
  top:58px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3724 {
  position:absolute;
  left:60px;
  top:280px;
  width:135px;
  height:20px;
}
#u3725 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:124px;
}
#u3726 {
  position:absolute;
  left:60px;
  top:316px;
  width:1px;
  height:123px;
}
#u3727 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3729 {
  position:absolute;
  left:114px;
  top:348px;
  width:10px;
  height:4px;
}
#u3730 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u3731 {
  position:absolute;
  left:117px;
  top:339px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3732 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
#u3733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3734 {
  position:absolute;
  left:185px;
  top:348px;
  width:10px;
  height:4px;
}
#u3735 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u3736 {
  position:absolute;
  left:188px;
  top:339px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3737 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
#u3738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3739 {
  position:absolute;
  left:260px;
  top:348px;
  width:10px;
  height:4px;
}
#u3740 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u3741 {
  position:absolute;
  left:263px;
  top:339px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3742 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
#u3743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3744 {
  position:absolute;
  left:332px;
  top:366px;
  width:10px;
  height:4px;
}
#u3745 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u3746 {
  position:absolute;
  left:335px;
  top:357px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3747 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
#u3748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3749 {
  position:absolute;
  left:388px;
  top:366px;
  width:10px;
  height:4px;
}
#u3750 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u3751 {
  position:absolute;
  left:391px;
  top:357px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3752 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
#u3753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:4px;
}
#u3754 {
  position:absolute;
  left:463px;
  top:366px;
  width:10px;
  height:4px;
}
#u3755 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
}
#u3756 {
  position:absolute;
  left:466px;
  top:357px;
  width:4px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3757 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:6px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:3px 8px;
  -ms-transform-origin:3px 8px;
  -moz-transform-origin:3px 8px;
  -webkit-transform-origin:3px 8px;
}
